@import url("https://fonts.cdnfonts.com/css/the-sims-sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* déclaration de mes couleurs en variables */
	--vert: rgb(15, 204, 15);
	--bleufoncé: #1b0e98;
	--bleumid: #1927c3;
	--bleuclair: #4fcff0;
	--fondtransparent: rgba(255, 255, 255, 0.371);
}
